p {
  color: gray;
  font-size: 0.8em;
}

.bigButton {
  display: block;
}

.generalTabContainer {
  height: 50vh;
}

.generalTabContent {

}

.generalTabLabel {
  display: inline-block;
  margin-top: 10px;
}

.generalTabDropDown {

}
